body {
    padding-top: 0px;
}

html {
    background: url('../img/splash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    border: none;
    background: transparent;
}

#language-selector:hover ul {
    background: transparent;
}
