body {
    padding-top: 70px;
}

.container {
    width: auto;
}

.navbar {
    text-transform: uppercase;
    font-size: small;
    border: none;
    border-bottom: solid 1px grey;
    background-color: white;
}

.navbar a {
    color: black;
    font-weight: 700;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

label { 
    display: block; 
}

input, textarea {
    display: block; 
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: white;
}

.form-errors ul {
    list-style: none;       
    padding-left: 0;       
}

.form-errors li {
    color: red;
    font-weight: 700;
}

.btn {
    border-radius: 24px;    
}

.bootstrap-select > .dropdown-toggle {
    border-radius: 4px;    
}

.table > tbody > tr:first-child > td {
    border: none;           
}

.label {
    font-size: 90%;
}

.panel-title .label {
    margin: .2em;
}

.activity-stream .label, .job-list .label, .user-list label  {
    margin: .2em;
    font-size: 80%;
}

.bootstrap-select > .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #dcdcdc;
    background-image: none;
    background-repeat: none;
}

.bootstrap-select > div.dropdown-menu > ul.dropdown-menu > li > a > span.text {
    font-weight: bold;
}

.form-file-add {
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}

.menu-card-item {
}

.menu-card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 10px;
  margin-bottom: 20px;
}

.menu-card a {
    color: black;
}

.menu-card-body {
  padding: 1.25rem;
}

.menu-card-title {
  margin-bottom: 0.75rem;
}

.menu-card .label {
    font-size: 80%;
}

.menu-card-title .label, .menu-card-title .glyphicon, .menu-card-title a {
    color: green;
    font-style: bold;
}

.menu-card-title .label {
    background-color: #ddd;    
}