body {
    padding-top: 70px;
}

.navbar {
    text-transform: uppercase;
    font-size: small;
    border: none;
    border-bottom: solid 1px grey;
    background-color: white;
}

.navbar a {
    color: black;
    font-weight: 700;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

label { 
    display: block; 
}

input, textarea {
    display: block; 
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: white;
}

.form-errors ul {
    list-style: none;       
    padding-left: 0;       
}

.form-errors li {
    color: red;
    font-weight: 700;
}

.btn {
    border-radius: 24px;    
}

.bootstrap-select > .dropdown-toggle {
    border-radius: 4px;    
}

.table > tbody > tr:first-child > td {
    border: none;           
}

.label {
    font-size: 100%;
}

.bootstrap-select > .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #dcdcdc;
    background-image: none;
    background-repeat: none;
}

.bootstrap-select > div.dropdown-menu > ul.dropdown-menu > li > a > span.text {
    font-weight: bold;
}
