<?php
/**
 * @link      http://github.com/zendframework/ZendSkeletonApplication for the canonical source repository
 * @copyright Copyright (c) 2005-2016 Zend Technologies USA Inc. (http://www.zend.com)
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 */

ini_set('display_errors', true);

return [
    // Additional modules to include when in development mode
    // for ZDT, see instructions at https://packagist.org/packages/zendframework/zend-developer-tools
    'modules' => [
    ],
    // Configuration overrides during development mode
    'module_listener_options' => [
        'config_cache_enabled' => false,
        'module_map_cache_enabled' => false,
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
];
